{% extends 'base.html'  %}

{% block body %}
     <div>
        <div>
            <img class="certificado" src="https://s3-alpha-sig.figma.com/img/b6ed/0f96/b3dd132848a9ea20cd7267e464b6598e?Expires=1672012800&Signature=YEEVr6nwAiz2JYDr5lYvrcNr6M5fm4ZWeFdVvkpc426bbgzITugpLW94VUhthpmqc37Edphti7iyIyk2YUkWDODaIyRN4dbA8ON9WoPsI50gCvdO2fdj0gs~CqVts~7~RxZ9QfkSG0rKaGMP5w259NeA64phs8IM0fxB3Z~iT~zMwVDmiJUBCOJqau3LGZkMMye-voj7CNGQEcrilPgn3De~4w9rIxIUPxQFqGGOm9Nm6Nn~crrUnEJ6Fdv4d4jMfZfS7vQyV3q8BZl~xlxiITWteRJ~untrnu0oovRPZiBL4cJTWk94EyZEjy9PpsT8CL6cBRKjcU735~upQsTYvA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"/>
        </div>

        <div class="App-boxx">
            <h1 class="App-textforms">Confira seu certificado:</h1>
            <p class="App-textforms">*Se todas as informações estão coerentes.</p>
            <p class="App-textforms">*Se a carga horária está correta.</p>
            <p class="App-botaocert">Certificado ok!</p>
            <p class="App-textforms">ocorreu um erro?</p>
            <p class="App-textforms">fale conosco!</p>

        </div>
    </div>


{% endblock %}