{% extends 'base.html'  %}

{% block body %}
    <div class="container">

               <div class='Doe'>
       <h1 class='Doe'>Doar Conhecimento</h1>
       <text class='txt-home'>
       "Você  possui alguma habilidade importante
       para o mercado que possa ser passada
       adiante?  Este espaço é desenvolvido para isto!"
       </text>
       <div class='Container11'>
       <img src='https://coronavirus.es.gov.br/Media/Coronavirus/flaticon/ame.png' alt='' class='Img1'></img>

           <a  class='Comecee' class=w-100 href="{{ url_for('doando') }}"> <button   class="btn btn-sm btn-primary w-100 ml-2 "> Comece agora! </button> </a>
       <text class='Text11'>
       O que é?
       <p>O espaço de doar conhecimento é ideal
       para você que gosta de ensinar, ao mesmo
        tempo que deseja trabalhar suas habilidades.</p>
       <p> "Aqui você poderá dar aulas a outros voluntários
         sobre conhecimentos que você possua, podendo ser: idiomas, informática etc. Conheça mais soft skills"</p>
       <div class='Container22'>
       <img src='https://thumbs.dreamstime.com/b/m%C3%A3os-empilhadas-em-cima-de-uma-outra-37820363.jpg' alt='' class='Img2'></img>
       <text class='Text22'>
       Por que ensinar?
       <p>Além de repassar seus conhecimentos e auxiliar o próximo no desenvolvimento de hard skills, você também estará aprendendendo e criando uma rede de networking.</p>
       <p>Compartilhando seus conhecimentos com nossos voluntários você também desenvolverá habilidades e será certificado por isto. </p>
       <button class='Comece2'>Comece agora!</button>
       <div class='Container3'>
       <img src='https://img2.gratispng.com/20180406/oeq/kisspng-donation-habitat-for-humanity-charitable-organizat-donate-5ac7f3274c91f5.1915025415230533513136.jpg' alt='' class='Img3'></img>
       <text class='Text3'>
       Qual a importância das soft skills para o mercado?
       <p>As soft skills são um conjunto de
        habilidades e competências relacionadas ao
        comportamento humano, e são consideradas
       como características necessárias para que um profissional
       alcance os seus objetivos profissionais, aquilo
       que estabelece para a sua carreira.</p>
       <button class='Comece3'>Comece agora!</button>
       </text>
       </div>
       </text>
    </div>
    </text>
      </div>
       </div>

    </div>


{% endblock %}