{% extends 'base.html'  %}

{% block body %}

    <div class="App">
        <header class="App-header">
        <img src= "https://s3-alpha-sig.figma.com/img/2c56/00c9/86005f3bc6524633d47654c6865b3fce?Expires=1671408000&Signature=gbjZUHKhdk5vGkaVhjnCTrW0rtFq8L8yfFUL7-~HD8uof~5lhrGZnGHvxN40JF54xUDuOeZZiEvjtxllpeQVqrgR9I8rMzzqaTc4IVEnGKEAwQK87eK3BF0esnY4lN2XzjZnvdK2oBXTUBro0TzcJP0NkZwiiMvlmk638GR9kmTwBI6O5zLz3z9nb80I-26orup6aO-YSN9vbfjls6UhKqHOZgAqDnF6ippu94qmoXRxNq5Q6ylzBe3kypb0c6LghflEZtpR4edP6UrFtSlbE2esOgmPm2a8wKYBfVr91b3wpRnKd~V8iQvqOYPDQoATEvHU25kIhhQOsu6d~Ol72Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="App-logo" alt="logo" />
          <p class="App-pum">

             Doe seu conhecimento
          </p>

          <p class="App-pdois">
            “O conhecimento não é pra ser guardado a sete chaves e sim pra ser compartilhado, dividido,
            pois conhecimento guardado é igual dinheiro num cofre, perde o valor e não rende nada.”
          <br></br>
            Lindomar Batista
          </p>
        </header>
        
         <div class="App-forms">

                <h1 class="App-titleforms">Doar conhecimento</h1>
                <form onSubmit={CadastroUsuario}>
                    <div class="App-textforms">
                        <p> Qual o conhecimento?</p>
                        <input type= "text" 
                        placeholder="Ex: informática, inglês...">

                    </div>
        
                    <div class="App-textforms">
                        <p>Certificação/comporvação do conhecimento</p>
                        <input type="text" 
                        placeholder="Anexe seu certificado">
                    </div>
        
                    <div class="App-textforms">
                        <p>Descreva seu conhecimento e como pretende passá-lo adiante</p>
                        <input type="text">
                    </div>
        
                    <div class="App-textforms">
                        <p>Escolha uma data</p>
                        <input type="text" 
                        placeholder="DD/MM/AAAA">
                    </div>
        
                    <div class="App-textforms">
                        <button onClick={CadastroUsuario}>Enviar</button>
                    </div> 
                </form>
                
                <h1 class="App-textforms">Esta aula ocorrerá por meio da plataforma abaixo:</h1>
                <img src= "https://upload.wikimedia.org/wikipedia/commons/2/24/Google_Hangouts_Meet_icon_%282017-2020%29.png" class="App-iconmeet" alt="logo" />
        
            </div>
        
        
      </div>

{% endblock %}