{% extends 'base.html'  %}

{% block body %}
    <div class="container">



        
        <div class="Sob">
            <h1 class="Ond">
                Sobre as Ongs
            </h1>
            <p class="Inf">
            Conheça os projetos cadastrados na <br>
            nossa plataforma e concontre aquele <br>
            que mais combina com você. <br>
            </p>
            <div class="Card">
            </div>

                <p class="Buscar">
                    <br>
                 <svg xmlns="http://www.w3.org/2000/svg" width="25" height="50" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
                  <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z"/>
                  <path d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5ZM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z"/>
                </svg>         Encontre um projeto
                </p>
            </div>
        
        
        
        
      <div class="Carde">
        <img class="Bca" src="https://www.grupomodelo.com/sites/g/files/yrakuj1731/files/2022-04/Voluntariado.jpg">

        </img>
        <h1 class="Do">
            Solidários do Bem
        </h1>
        <p class="Mous">
        Acreditamos no voluntariado como uma ferramenta de <br>
        transformação social, de troca, e uma das formas de <br>
        realização de uma cidadania ativa e participativa. <br>
        É um compromisso social e uma oportunidade de apoiar, <br>
        aprendendo com trabalhos sérios.<br>
        <br></br>
        </p>

        <div class="Azure">

            
        </div>
       <p class="Maw">
           <br>
        <a class="nav-link" href="{{ url_for('saibamais') }}">Saber mais</a>
       </p>

        <div class="Cardy">

        </div>
       <img class="Beijo" src="https://s3-alpha-sig.figma.com/img/22e3/5793/462ae9306298346745386936289b16d2?Expires=1672012800&Signature=MVSESKjaDo0-Z1Zbs-3e4hspdwo3AQr96-nGY8dRYbdxp41pkaHeEGVrlpWoCGujYaunbYMNhkG4OlTxw6fzk0KRY~Eyp9mPbw2Xr0pLF-HVd4ekVgVEJnYilUZcTn3clgG5sK476OWNOj7wZEUwj7A~LR3uvl-TngI3taWADHYXZO1axchTUvtXVyuCaTZ~s6HdTLAQGI96dwVc0nBfDBKCyfmj8yxrrqqd35YzhcnucPVEj36N9BOoQf-5WinVPy9bw3Ouwyj4yEt-HN3hE7MYisne75W7pJ-ZgB3M~TcOG-2zxM3L1uoO0dq6RVzbN8mHauHSpfzQA-iBfXeLww__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">

        </img>
        <h1 class="Duos">
        Solidários do Bem
        </h1>
        <p class="Mouse">
                Acreditamos no voluntariado como uma ferramenta de <br>
                transformação social, de troca, e uma das formas de <br>
                realização de uma cidadania ativa e participativa. <br>
                É um compromisso social e uma oportunidade de apoiar, <br>
                aprendendo com trabalhos sérios.<br>
        <br></br>
        </p>
        <div class="Azu">
                    
        </div>
        <p class="Mawe">
            <br>
        Saber mais
        </p>

        <div class="Cardes">

        </div>
        <img class="Be" src="https://s3-alpha-sig.figma.com/img/5be4/a33f/b3fac89e6fa56e2b8f4a1679f0550ea6?Expires=1672012800&Signature=gl91~z8VaybHj4rYavWqyuzPc4wS2sHXvvZt~neb-2tEIDQHY0~Axubx7EDCzQNWAzEKZoVvj01KEQZk8e593fDbhygCSsyTWOSvM9P2nm6RRsByOZtWptJ44qKDTN944RHn7N6rErNDJj2~Ereqo8JyHevLNomxOHt-1h7OtL9Wq5SMOd~FYaoaakjEshhFI1fknYrfAqng~WnkzHvH2YqBkX54uSeGLx8cz8r5qZjqvFKPGBZcefSu9DAdAaye3IsYREPvbhOopYNmvrVMZCqTwBG77WNzImSX840bEDWEfGG1G6vt7uvClYrtG-Wmb0PoxfaDqcDWSgXFtlH9uQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
        </img>
        <h1 class="Dois">
        Solidários do Bem
        </h1>
        <p class="M">
                Acreditamos no voluntariado como uma ferramenta de <br>
                transformação social, de troca, e uma das formas de <br>
                realização de uma cidadania ativa e participativa. <br>
                É um compromisso social e uma oportunidade de apoiar, <br>
                aprendendo com trabalhos sérios.<br>
        <br></br>
                </p>
            <div class="Azul">
            </div>
                <p class="Mawev">
                    <br>
                Saber mais
                </p>
                <div class="Lado">

                </div>
                <p class="Como">
                    <br></br>
                Desenvolva as seguintes
                softskills nesse projeto:
                </p>
                <p class="Equipe">
                    <br>Trabalho em equipe</br>
                    Comunicação <br>
                    Empatia
                </p>
                <p class="Emoji">
                &#11088;&#11088;&#11088;&#11088;

                &#11088;&#11088;&#11088;

                &#11088;&#11088;

                </p>
                <div class="Sol">

                </div>
                <p class="Dese">

                Desenvolva as seguintes
                softskills nesse projeto:
                </p>
                <p class="Trab">
                    <br></br>
                    Trabalho em equipe <br></br>

                    Comunicação <br></br>

                    Empatia

                </p>
                <p class="Emojis">
                &#11088;&#11088;&#11088;&#11088;

                &#11088;&#11088;&#11088;&#11088;

                &#11088;&#11088;&#11088;&#11088;

                </p>
               <div class="Sol">

                </div>
                <p class="Dese">
                    <br></br>
                Desenvolva as seguintes
                softskills nesse projeto:
                </p>
                <p class="Trab">
                    <br></br>
                    Trabalho em equipe

                    Comunicação <br>

                    Empatia

                </p>
                <p class="Emojis">
                    <br>
                &#11088;&#11088;&#11088;&#11088;

                &#11088;&#11088;&#11088;&#11088;

                &#11088;&#11088;&#11088;

                </p>




                <div class="Lua">

            </div>
            <p class="Descemos">
                <br></br>
            Desenvolva as seguintes
            softskills nesse projeto:
            </p>
            <p class="Trabalho">
                <br>
                Trabalho em equipe

                Comunicação <br>

                Empatia

            </p>
            <p class="Figura">
            &#11088;&#11088;&#11088;&#11088;

            &#11088;&#11088;&#11088;&#11088;

            &#11088;&#11088;&#11088;&#11088;

            </p>


            <p class="Bloco">

            </p>
            <p class="Bloco1">

            </p>
            <p class="Bloco2">

            </p>
            <p class="Bloco3">

            </p>
            <p class="Bloco4">

            </p>
            <p class="Bloco5">

            </p>
            <p class="Bloco6">

            </p>
            <p class="Bloco7">

            </p>
            <p class="Bloco8">

            </p>
            <p class="Bloco9">

            </p>
            <p class="Um">
                1
            </p>
            <p class="Two">
                2
            </p>
            <p class="Tres">
                3
            </p>
            <p class="Quatro">
                4
            </p>
            <p class="Cinco">
                5
            </p>
            <p class="Seis">
                6
            </p>
            <p class="Sete">
                7
            </p>
            <p class="Oito">
                8
            </p>
            <p class="Nove">
                9
            </p>
            <p class="Dez">
                10
            </p>
                </div>




    </div>


{% endblock %}