<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <title>rodape</title>
</head>
<footer>
        <footer class="bg-dark text-light fixed-bottom     ">
        <div class="container-fluid ">
        <div class="row  ">
          <div class="col-4">
            <ul class="nav ">
              <li class="nav-link"><a href="#">Sobre as Ong's </a></li>
              <li class="nav-link"><a href="#">Seja um Voluntario</a></li>
              <li class="nav-link"><a href="#">Doar Conhecimento</a></li>
              <li class="nav-link"><a href="#">Suporte</a></li>
            </ul>
          </div>
          <div class="col-4 justify-content-center ">

            <ul class="nav justify-content-center  ">
                   <p>
                        Redes socias:
                  </p>

              <li class="nav-link" ><i class="fab fa-facebook fa-1.5x "></i></li>
              <li class="nav-link"><i class="fab fa-instagram fa-1.5x"></i></li>
              <li class="nav-link"><i class="fab fa-twitter fa-1.5"></i></li>
              <li class="nav-link"><i class="fab fa-whatsapp fa-1.5x"></i></li>
            </ul>
               <strong>Alegria em ser voluntario, vem fazer parte!!!</strong>
          </div>
        </div>
        </div>
        <div class="text-center" style="background-color: #333; padding: ;" >
          &copy 2022 Copyright: <a href="#">ProgAmar</a>
        </div>
    </footer>
</html>