{% extends 'base.html'  %}

{% block body %}
        <div class="container">

            <div class="Header.um">
            <h2 class="Bom"><br> Solidários do Bem<br>
            <img class="Solaria"
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZU4aZ_b4gDQ9SuMtHuq4Gp65VcuM1WUzqUi_vqnWzN8hfKYLxh_UvvNr9rYLLNua33og&usqp=CAU" alt="Sol" ></img>
            </h2>
            <p class="Lemos"><br><br><br>
            O projeto social filhos da inclusão, trabalha com crianças de 06 a 12 anos <br>
            e com suas familias no bairro de Santo Amaro em Recife-Pe O nosso objetivo <br>
            é formar pessoas e desenvolver habilidades cognitivas das crianças e trazer <br>
            um pouco de dignidade social com as assistências socias e ações promovidas <br>
            pelo projeto. Temos em nosso projeto, crianças com dificuldades de aprendizagem <br>
             e crianças com necessidades de inclusão <br></br>
             </p>
             <h2 class="Softss"><br>
            Softskills
           </h2>
           <div class="Empat"><br><br><br>
                Escrita  <br>
                Empatia <br>
                Ética<br>
           </div>
           <p class="Star"><br></br><br><br>
                &#11088;&#11088;&#11088;&#11088;&#11088; <br>
                &#11088;&#11088;&#11088;&#11088; <br>
                &#11088;&#11088;&#11088;  <br>
                </p>
                <div class="Voluntarios">
                    SEJA VOLUNTÁRIO
                </div>
        </div>
            

            
             <div class="Cardd">
              <br></br>
         <p class="Hist">
            <br></br>
            <br>
         História <br></br>
         <br></br>
         </p>
         <p class="Cont">
         O filhos da inclusão, surgiu em 2019; através da ideia de Rafaela Regina e com auxílio do pastor Samuel. <br>
         Foi pensado e montado um projeto educacional e após um ano o projeto foi expandido para educacional e <br>
        assistência social. Surgiu pela necessidade de ter um projeto onde às crianças se desenvolvessem com <br>
        inclusão e liberdade cognitiva. Trazendo ganhos sociais, emocional e familiar. <br></br>
        <br></br>
         </p>
         <p class="Mis">
        Missão<br></br>
         </p>
        <p class="Miss">
            <br>
          A nossa missão é de
          inclusão social.<br></br>
         <br></br>
            </p>
            <p class="Vis">
         Visão<br>
                    </p>
        <p class="Visão"><br>
        Formar
        seres com empatia e ter
        uma comunidade mais
        justa e inclusiva.
         <br></br>
            </p>
            <p class="Value">
        Valores<br>
            </p>
            <p class="Nossos">
                <br>Não
        deixar ninguem para trás
        resgatar valores familiares,
        e social.
        <br></br>
        </p>

        <div class="Fim">
            <br>
        Atividades a serem desempenhadas pelo voluntário<br>

        <p class="End">
        O filhos da inclusão, surgiu em 2019; através da ideia de Rafaela Regina e com auxílio do pastor Samuel.<br>
         Foi pensado e montado um projeto educacional e após um ano o projeto foi expandido para educacional e <br>
         assistência social. Surgiu pela necessidade de ter um projeto onde às crianças se desenvolvessem com <br>
         inclusão e liberdade cognitiva. Trazendo ganhos sociais, emocional e familiar. <br>

        </p>

        </div>


        </div>

        <div/>


{% endblock %}